<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>USPS Tracker</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p>Please enter the full authentication token given by Google</p>
    <form method='post'>
      <label class='text'>
        Authentication Token
        <input type='text' name='code' id='code' />
      </label>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </form>
  </body>
</html>